VITE_SUPABASE_URL=https://zfsampgzfgfhbaecmdtd.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpmc2FtcGd6ZmdmaGJhZWNtZHRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1NzA5ODQsImV4cCI6MjEwNDE0Njk4NH0.JBNeYDdjjcnDVhfQSz_bzQxeAukhT7KlddMT9gR_rjE